@import"common.scss";
@import"minxin.scss";
html,
body {
    width: 100%;
    height: 100%;
    font-size: pxTorem(14px);
}

.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

.header {
    width: 100%;
    height: pxTorem(44px);
    border-bottom: 1px solid #ccc;
    @include box_flex;
    @include justify(space-between);
    @include align;
    padding: 0 pxTorem(10px);
    box-sizing: border-box;
    span {
        width: pxTorem(44px);
        font-size: pxTorem(14px);
    }
}

.section {
    @include flex;
    .scroll {
        width: 100%;
        height: 100%;
        .user {
            width: 100%;
            height: pxTorem(50px);
            border-bottom: 1px solid #ccc;
            dl {
                width: 100%;
                height: 100%;
                padding: 0 pxTorem(10px);
                box-sizing: border-box;
                @include box_flex;
                @include align;
                dt {
                    width: pxTorem(40px);
                    height: pxTorem(40px);
                    border: 1px solid #ccc;
                    border-radius: 100%;
                    background: #eee;
                    margin-right: pxTorem(10px);
                }
                dd {
                    font-size: pxTorem(14px);
                }
            }
        }
        .list {
            width: 100%;
            ul {
                width: 100%;
                li {
                    width: 100%;
                    height: pxTorem(50px);
                    @include box_flex;
                    @include align;
                    font-size: pxTorem(14px);
                    @include sizing;
                    i {
                        font-size: pxTorem(14px);
                        padding: 0 pxTorem(10px);
                        color: orange;
                    }
                    p {
                        height: pxTorem(50px);
                        @include box_flex;
                        @include flex;
                        @include justify(space-between);
                        border-bottom: 1px solid #ccc;
                        padding: 0 pxTorem(10px);
                        @include sizing;
                        @include align;
                    }
                }
            }
        }
    }
}